// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$blue: #2979B2;

body {
  background: $gray; // Using this variable
  font-family: courier;
}

#button {
  background-color: $blue;
  font-color: white;
  font-weight: bold

}

p {
  font-family: courier;
}
